@import "utils/colors";
@import "header/header";
@import "utils/general";
@import "header/footer";

.about {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: calc(100vh - #{$headerSize} - #{$footerSize});

    @media (max-width: 1199.98px) {
        height: auto;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__left {
        $avatarSize: 240px;

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 50%;

        @media (max-width: 991.98px) {
            width: 40%;
        }

        @media (min-width: 576px) and (max-width: 767.98px) {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        @media (max-width: 575.98px) {
            width: 100%;
        }

        &--avatar {
            width: $avatarSize;
            height: $avatarSize;
            border-radius: 4px;
            background: {
                repeat: no-repeat;
                size: cover;
                image: url("/assets/images/avatar.png");
            }
        }
        &--bottom {
            width: 100%;

            @media (min-width: 576px) and (max-width: 767.98px) {
                width: calc(100% - #{$avatarSize} - 1rem);
            }

            &__text {
                margin-top: 1rem;

                @media (min-width: 576px) and (max-width: 767.98px) {
                    margin-top: 0;
                }

                & > b, & > span {
                    display: block;
                    text-align: center;

                    @media (min-width: 576px) and (max-width: 767.98px) {
                        text-align: left;
                    }
                }
                & > b {
                    font-size: 1.4rem;
                    color: $mainColor;
                    letter-spacing: .02em;
                }
                &--profession {
                    color: #9e9e9e;
                    font-weight: 500;
                    letter-spacing: .02em;
                }
                &--location {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1.25rem;

                    @media (min-width: 576px) and (max-width: 767.98px) {
                        justify-content: flex-start;
                        margin-top: 1rem;
                    }

                    &__flag {
                        width: calc(275px / 11);
                        height: calc(183px / 11);
                        background: {
                            repeat: no-repeat;
                            size: cover;
                            image: url("/assets/images/co_flag.png");
                        }
                        border-radius: 2px;
                        margin-right: .25rem;
                    }
                    & > span {
                        display: block;
                        font-size: .85em;
                    }
                }
            }
            &__social {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                margin-top: 1.75rem;

                @media (min-width: 576px) and (max-width: 767.98px) {
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-top: 1.5rem;
                }

                @media (max-width: 575.98px) {
                    flex-flow: row wrap;
                }

                & > a {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    color: inherit;
                    text-decoration: none;
                    padding: 0 1rem;
                    margin-top: .75rem;
                    font: {
                        size: .85rem;
                        weight: 500;
                    }
                    letter-spacing: .02em;
                    color: #9e9e9e;
                    transition: .4s color ease-in-out;

                    @media (min-width: 576px) and (max-width: 767.98px) {
                        justify-content: flex-start;
                        padding: 0;
                    }

                    &:nth-of-type(1) {
                        margin-top: 0;
                    }
                    & > svg {
                        width: 1.25rem;
                        height: 1.25rem;
                        margin-right: .25rem;
                    }
                    &:hover {
                        color: inherit;
                    }
                }
            }
        }
    }
    &__right {
        width: 50%;

        @media (max-width: 991.98px) {
            width: 55%;
        }

        @media (max-width: 767.98px) {
            width: 100%;
        }

        &--box {
            $titleMargin: 1.25rem;

            margin-top: $titleMargin;
            border-top: 1px dashed silver;
            width: 80%;

            @media (max-width: 1199.98px) {
                width: 100%;
            }

            &:nth-of-type(1) {
                @media (min-width: 768px) {
                    margin-top: 0;
                    border-top: none;

                    & > h1 {
                        margin: 0;
                        margin-bottom: $titleMargin;
                    }
                }
            }
            & > h1 {
                margin: 0;
                margin: $titleMargin 0;
                color: $mainColor;
            }
        }
        &--messages {
            width: 65%;

            @media (max-width: 991.98px) {
                width: 100%;
            }

            & > p {
                margin: 0;
                margin-top: .75rem;
                line-height: 1.5;

                &:nth-of-type(1) {
                    margin-top: 0;
                }
            }
        }
        &--skills {
            & > ul {
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                margin: 0;
                margin-top: .5rem;
                padding: 0;

                &:nth-of-type(1) {
                    margin-top: 0;
                }
                &.indigo > li {
                    background-color: #3f51b5;
                }
                &.orange > li {
                    background-color: #ff9800;
                }
                &.light-blue > li {
                    background-color: #03a9f4;
                }
                &.green > li {
                    background-color: #4caf50;
                }
                &.deep-purple > li {
                    background-color: #673ab7;
                }
                & > li {
                    padding: .25rem .75rem;
                    border-radius: 4px;
                    margin-left: .5rem;
                    background-color: #9e9e9e;
                    color: $lightBackground;
                    font: {
                        size: .85rem;
                        weight: 500;
                    }
                    letter-spacing: .02em;
                    transition: .2s transform ease-in-out;

                    @media (max-width: 991.98px) {
                        margin-top: .25rem;
                        margin-left: .25rem;
                    }

                    @media (min-width: 576px) and (max-width: 767.98px) {
                        margin-top: 0;
                        margin-left: .25rem;
                    }

                    &:nth-of-type(1) {
                        @media (min-width: 992px) {
                            margin-left: 0;
                        }

                        @media (min-width: 576px) and (max-width: 767.98px) {
                            margin-left: 0;
                        }
                    }
                    &:hover {
                        transform: scale3d(1.1, 1.1, 1.1);
                    }
                }
            }
        }
    }
}
